.wrapper-admin {
    display: grid;
    grid-template: 0.1fr 1fr 0.1fr / 1fr;
    grid-template-areas:
    "navigation"
    "main-admin"
    "bottom";
    width: 100%;
    height: 100%;
}

.main-admin {
    display: grid;
    grid-area: main-admin;
    margin: 2% 2%;
    gap: 0px;
}